<div class="container">
  <div class="containerLeft">
    <img src="assets\Ekran görüntüsü 2024-06-04 141524.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141308.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141316.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141328.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141403.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141415.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141456.png" width="439" height="295">
    
  </div>
  
  <div class="containerRight">
    <img src="assets\Ekran görüntüsü 2024-06-04 141835.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141820.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141701.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141642.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141613.png" width="439" height="295">
    <img src="assets\Ekran görüntüsü 2024-06-04 141601.png" width="439" height="295">
  </div>
</div>




