.containerLeft{
    margin-top: 5%;
    width: 456px;
    height: 500px;
    overflow: auto;

}


.containerRight{
    margin-top: -26%;
    width: 456px;
    height: 500px;
    margin-left: 76.3%;
    overflow: auto;
}